<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schedule</h2>
                    <h3 class="section-subheading text-muted">Cloud Computing</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>09:00 a.m. - 10:00 a.m.</h4>
                                    <h4 class="subheading">Registration</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>10:00 a.m. - 10:45 a.m.</h4>
                                    <h4 class="subheading">Keynote</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dr. Pallab Saha
                                    Partner, Chief Enterprise Architect (Government) & Head of
                                        Wipro Academy of Enterprise Architecture</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>10:45 a.m. - 11:00 a.m.</h4>
                                    <h4 class="subheading">Tea Break</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>11:00 a.m. - 11:45 a.m.</h4>
                                    <h4 class="subheading">Cloud Computing Scenario in India</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Pamela Kumar
Vice President, Cloud Computing Innovation Council of India</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>11:45 a.m. - 12:30 p.m.</h4>
                                    <h4 class="subheading">Panel discussion - Cloud Computing Challenges</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">TBD</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>12:30 p.m. - 01:30 p.m.</h4>
                                    <h4 class="subheading">Lunch</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Track-1</h3>
                                    <h4>01:30 p.m. - 02:00 p.m.</h4>
                                    <h4 class="subheading">eGovernance</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Surender Gupta
Principal Consultant at Tata Consultancy Services</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>02:00 p.m. - 02:30 p.m.</h4>
                                    <h4 class="subheading">Standards and Interoperability</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dinkar Sitaram
                                Professor & Director, Cloud Center
                                    Department of Computer Science and Engineering, PES University
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>02:30 p.m. - 03:00 p.m.</h4>
                                    <h4 class="subheading">Industry Specific Clouds</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lalit Mohan Sanagavarapu
Sr Technology Manager at Institute for Development and
Research in Banking Technology</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>03:00 p.m. - 03:30 p.m.</h4>
                                    <h4 class="subheading">ICT for Development</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Vibhakar Bhushan
Chair - eHealth Working Group at Cloud Computing
Innovation Council of India</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>03:30 p.m. - 04:00 p.m.</h4>
                                    <h4 class="subheading">Tea Break</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>04:00 p.m. - 04:30 p.m.</h4>
                                    <h4 class="subheading">SaaS and Applications Development</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Praveen Gurram
Senior Director - Oracle India
Product Development & IT Services Global Delivery
Tirumal Chamarti Project Director. at JDA</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>04:30 p.m. - 05:00 p.m.</h4>
                                    <h4 class="subheading">Big Data and Analytics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Geetha Manjunath
Research Lab Manager at Xerox Research Centre India</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>05:00 p.m. - 05:30 p.m.</h4>
                                    <h4 class="subheading">Innovation Ecosystem</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Rohan Joshi
Founder at Wolken Software Private Limited
Saksham Khandelwal
Senior Executive - Innovation at Wipro Ltd.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Track-2</h3>
                                    <h4>01:30 p.m. - 02:00 p.m.</h4>
                                    <h4 class="subheading">System Architecture</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sandeep Dhar
Principal Engineer - Cisco Systems</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>02:00 p.m. - 02:30 p.m.</h4>
                                    <h4 class="subheading">Cloud Storage</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sairam Iyer
Corporate Distinguished Engineer at EMC Corporation</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>02:30 a.m. - 03:00 p.m.</h4>
                                    <h4 class="subheading">Cloud Application and Data Platforms</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Krishna M Kumar
Cloud Platforms Architect - Huawei Technologies</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>03:00 p.m. - 03:30 p.m.</h4>
                                    <h4 class="subheading">Cloud Management</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Manoj Kumar Jain
Sr. Technical Consultant at EMC2</p>
                                </div>
                            </div>
                        </li>
                             <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>03:30 p.m. - 04:00 p.m.</h4>
                                    <h4 class="subheading">Tea Break</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                             <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>04:00 p.m. - 04:30 p.m.</h4>
                                    <h4 class="subheading">Sustainability, Mobility and Access Technologies</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Srinivas Varadarajan
Founder-CEO Vigyanlabs, Mentor at Founder Institute</p>
                                </div>
                            </div>
                        </li>
                             <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>04:30 p.m. - 05:00 p.m.</h4>
                                    <h4 class="subheading">Cloud SLA's</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Swapnil Kulkarni
Senior Software Engineer - Openstack at Red Hat</p>
                                </div>
                            </div>
                        </li>
                             <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>05:00 p.m. - 05:30 p.m.</h4>
                                    <h4 class="subheading">Cloud Security</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Emmanuel (Shubhakar) Pilli
Assistant Professor at Malaviya National Institute of
Technology, Jaipur</p>
                                </div>
                            </div>
                        </li>
                             <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>05:30 p.m. - 06:00 p.m.</h4>
                                    <h4 class="subheading">Policies, Regulations and Business Models</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
Professor S Raghunath
Corporate Strategy & Policy, IIM Bangalore</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>End
                                    <br></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>