<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading1 text-muted"><b>Cloud Computing promises to be the “next big thing” in IT infrastructure and is poised to enable the next generation computing framework for the emerging markets. Cloud Computing is gaining great prominence all around the world, and even more so in emerging markets which are looking to leapfrog into the era of cloud and have great potential for leadership. India is one such emerging market which is looking to transform the nation through cloud services.</b></h3>
                    <h2 class="section-heading">CCICI</h2>
                    <h3 class="section-subheading1 text-muted"><b>Cloud Computing is a new paradigm in Information Technology (IT) and IT enabled services (ITES) that transforms ‘computing as a resource’ to ‘computing as a service’. It is a disruptive technology with influence pervading across all aspects of a modern economy. While this has the potential of leapfrogging the economy of emerging markets like India, the adoption and deployment in such countries poses a unique set of technological, business and regulatory challenges.The next five years are expected to be an exponential growth phase for Cloud Computing in India. Conservative estimates put the 2011 spend on Cloud Computing at $0.9 B (2.3% of total IT spend), with the potential to grow to $4.5 B by 2015. However, with the right focus and innovation this can become the dominant IT model making it a ten times bigger market opportunity.</b></h3>
                    <h2 class="section-heading">CCICI-Vision</h2>
                    <h3 class="section-subheading1 text-muted"><b>To provide a collaborative platform to accelerate cloud computing adoption and innovation in India and enable India’s emergence as a Global Leader in Cloud Computing (CC).</b></h3>
                    <h2 class="section-heading">CCICI-Mission</h2>
                    <h3 class="section-subheading1 text-muted"><b>The mission of CCICI is to execute on its vision by promoting a number of collaborative initiatives in India with well-defined outcomes, such as, providing thought leadership in CC, promoting early adoption of CC, prototyping solutions addressing india's unique challenges.</b></h3>
                    <h2 class="section-heading">IEEE Bangalore Section</h2>
                    <h3 class="section-subheading1 text-muted"><b>With 25 society chapters and 2 affinity groups, IEEE Bangalore Section is one of the most vibrant sections in the Asia-Pacific region.  The section was established in 1976 with 313 members.Over the years the strength of the section has grown steadily and currently the Section boasts of a membership of 8000. This membership is spread across the Karnataka region and is a nice blend of Industry, Academia and Research organizations. Section has 500 senior members and 20 Fellows, largest among all the sections in India. Section conducts more than 200 technical events every year with the help of chapters, affinity groups and student branches, and is adjudged as outstanding Large Section around the Globe and Best Large Section in Asia Pacific Region for the year 2013.</b></h3>
                    <h2 class="section-heading">IEEE-Vision</h2>
                    <h3 class="section-subheading1 text-muted"><b>IEEE will be essential to the global technical community and to technical professionals everywhere, and be universally recognized for the contributions of technology and of technical professionals in improving global conditions.</b></h3>
                    <h2 class="section-heading">IEEE-Mission</h2>
                    <h3 class="section-subheading1 text-muted"><b>IEEE’s core purpose is to foster technological innovation and excellence for the benefit of humanity.</b></h3>




                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Learn</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Network</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Grow</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
        </div>
    </section>